---
const arrayCards = [
  {
    title: 'BlendBackground',
    canvaWeb:
      'https://www.canva.com/design/DAG2n-2OuBk/nU7nnQF_S6Ai2eupuhbFFA/view?utm_content=DAG2n-2OuBk&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=ha3bfe6b554',
    localImage: '/assets/BlendBackground.avif',
    id: '01'
  },
  {
    title: 'Simple Video',
    canvaWeb:
      'https://www.canva.com/design/DAG2n6nBGII/OSXYw67_kYZA-i-5u8z-6g/view?utm_content=DAG2n6nBGII&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=he37c90bad6',
    localImage: '/assets/SimpleVideo.avif',
    id: '02'
  },
  {
    title: 'Concept Map',
    canvaWeb: 'https://www.canva.com/design/DAG2n3B3EBM/_sx5e32Z2b_3eOn9Qz350g/view?utm_content=DAG2n3B3EBM&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h5129bb0d68',
    localImage: '/assets/ConceptMap.avif',
    id: '03'
  },
  {
    title: 'Synoptic Table',
    canvaWeb:
      'https://www.canva.com/design/DAG2n7oBg5A/dId9d62G6LgZCmFAYVTR9g/view?utm_content=DAG2n7oBg5A&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h73417441f8',
    localImage: '/assets/SynopticTable.avif',
    id: '04'
  },
  {
    title: 'Simple Table',
    canvaWeb: 'https://www.canva.com/design/DAG2n5d1PZA/7FvGBAqsLxDf1sEcitsxkA/view?utm_content=DAG2n5d1PZA&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=he957c97212',
    localImage: '/assets/SimpleTable.avif',
    id: '05'
  },
  {
    title: 'A4 Doc',
    canvaWeb: 'https://www.canva.com/design/DAG2oEqDkEU/GnBY0GSyzh1mCueZlRP7Qg/view?utm_content=DAG2oEqDkEU&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h88a8c93df6',
    localImage: '/assets/A4Doc.avif',
    id: '06'
  },
  {
    title: 'Flowchart',
    canvaWeb: 'https://www.canva.com/design/DAG2oHHCIvQ/Jrair-f7Qn_3zAfcNCm4eg/view?utm_content=DAG2oHHCIvQ&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hda5d506fba',
    localImage: '/assets/Flowchart.avif',
    id: '07'
  },
  {
    title: 'Book FrontPage',
    canvaWeb: 'https://www.canva.com/design/DAG2oMZ9IRY/6uYKoTr8b5pwBNNMRhDgOQ/view?utm_content=DAG2oMZ9IRY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h29d6fab853',
    localImage: '/assets/BookFrontPage.avif',
    id: '08'
  },
  {
    title: 'eBook',
    canvaWeb: 'https://www.canva.com/design/DAG2oPqIlBM/-ynvs_l40374zCnNx2wiaA/view?utm_content=DAG2oPqIlBM&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hba11ecfde8',
    localImage: '/assets/eBook.avif',
    id: '09'
  },
  {
    title: 'Chart',
    canvaWeb: 'https://www.canva.com/design/DAG2oDETl0s/flJ9YgMEdk4O-A8vcRkSKA/view?utm_content=DAG2oDETl0s&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=heb9874381d',
    localImage: '/assets/Chart.avif',
    id: '10'
  },
  {
    title: '',
    canvaWeb: '',
    localImage: '/assets/.avif',
    id: '10'
  },
];
---

<section class='am-container-cards'>
  {
    arrayCards.map(({ id, localImage, canvaWeb, title }) => (
      <aside class='card' />
    ))
  }
</section>

<style>
  .am-container-cards {
    min-height: 100vh;
    display: grid;
    padding: 2.2vmax;
    gap: 2.2vmax;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17vmax, 1fr));
  }
</style>
